@mixin flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

$gray-color: #d9d9d9;
$red-color: #cfa197;
$icon-font-size: 36px;

.body {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;

	.header {
		@include flex-row;
		position: fixed;
		overflow: hidden;
		width: 100%;
		padding: 35px;
		background-color: #fff;

		h2 {
			font-weight: 600;
			font-size: 34px;
		}

		.content {
			@include flex-row;
			width: 50%;

			.question-btn {
				background-color: $red-color;
				padding: 20px;
				border: 1.5px solid black;
				border-radius: 20px;
				font-size: 26px;
			}

			.filter-btn {
				background-color: transparent;
				border: none;

				.filter-alt {
					font-size: $icon-font-size;
				}
			}

			.search-container {
				@include flex-row;
				background-color: transparent;
				width: 60%;

				input {
					float: left;
					width: 80%;
					padding: 20px;
					border: 1.5px solid black;
					border-right: none;
					border-radius: 10px 0 0 10px;
					display: block;
					font-size: 18px;
					background-color: #d9d9d9;
				}

				.search-btn {
					float: left;
					background-color: #d9d9d9;
					border: 1.5px solid black;
					border-left: none;
					border-radius: 0 10px 10px 0;
					padding: 18px;
					width: 20%;
				}
			}
		}
	}

	.container {
		margin-top: 150px;
		height: 100px;
		width: 100%;
		padding: 0 35px;
		background-color: #fff;

		a {
			text-decoration: none;
			color: black;

			.question-card {
				display: flex;
				align-items: center;
				padding: 20px;
				height: 200px;
				background-color: $gray-color;
				border: 1.5px solid black;
				border-radius: 20px;
				margin-top: 20px;
				cursor: pointer;

				.rating-section {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					width: 10%;
					height: 65%;
					padding: 10px 20px 10px 10px;

					.like-btn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						border: 1.5px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 0 5%;

						button {
							background-color: transparent;
							border: none;
							cursor: pointer;
							img {
								width: 30px;
								height: auto;
								content: url("http://localhost/developer-support/public/assets/images/thumb_up_fill0.svg");
							}

							&:hover {
								img {
									content: url("http://localhost/developer-support/public/assets/images/thumb_up_fill1.svg");
								}
							}
						}
						p {
							font-size: 18px;
						}
					}

					.dislike-btn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						border: 1.5px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 0 5%;

						button {
							background-color: transparent;
							border: none;
							cursor: pointer;
							img {
								width: 30px;
								height: auto;
								content: url("http://localhost/developer-support/public/assets/images/thumb_down_fill0.svg");
							}

							&:hover {
								img {
									content: url("http://localhost/developer-support/public/assets/images/thumb_down_fill1.svg");
								}
							}
						}
						p {
							font-size: 18px;
						}
					}
				}

				.vl {
					border-left: 1px solid black;
					height: 100%;
				}

				.main-section {
					width: 80%;
					padding: 20px 20px 20px 40px;
					height: 100%;

					p {
						text-align: justify;
						font-size: 22px;
						font-weight: bold;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}

				.right-section {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: space-between;
					width: 10%;
					padding: 10px;
					height: 100%;

					.ans-box {
						display: flex;
						justify-content: center;
						border: 1.5px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 2px 0;
						width: 70%;

						p {
							font-size: 18px;
						}
					}

					.date {
						p {
							font-size: 18px;
						}
					}
				}
			}

			&:hover {
				.question-card {
					border: 1.5px solid #9ba17b;
				}
			}
		}
	}
}
