@mixin flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// colors
$gray-color: #d9d9d9;
$red-color: #cfa197;
$green-color: #9ba17b;
$dark-gray-color: #bdbdbd;

// font sizes
$n-font: 15px;
$h3-font: 17px;
$h2-font: 19px;
$h1-font: 23px;

.body {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;

	.header {
		@include flex-row;
		position: fixed;
		overflow: hidden;
		width: 100%;
		padding: 15px 35px;
		background-color: #fff;

		h2 {
			font-weight: 600;
			font-size: $h1-font;
			margin-left: 20px;
		}

		.content {
			@include flex-row;
			width: 40%;

			.question-btn {
				background-color: $red-color;
				padding: 15px;
				height: 55px;
				border: 1px solid black;
				border-radius: 10px;
				font-size: $h2-font;

				&:hover {
					border: 1.5px solid black;
					font-weight: 500;
				}
			}

			.filter-btn {
				background-color: transparent;
				border: none;

				img {
					width: $h1-font;
					content: url("http://localhost/developer-support/public/assets/images/filter_list_wght400.svg");
				}

				&:hover {
					img {
						width: $h1-font;
						content: url("http://localhost/developer-support/public/assets/images/filter_list_wght600.svg");
					}
				}
			}

			.search-container {
				@include flex-row;
				background-color: #d9d9d9;
				border: 1px solid black;
				border-radius: 10px;
				width: 60%;

				input {
					float: left;
					width: 80%;
					padding: 15px;
					border: none;
					border-radius: 10px 0 0 10px;
					display: block;
					font-size: $n-font;
					background-color: transparent;
				}

				.search-btn {
					float: left;
					background-color: transparent;
					border: none;
					border-radius: 0 10px 10px 0;
					padding: 10.5px 10.5px 11px 10.5px;
					width: 20%;

					img {
						width: $h2-font;
						content: url("http://localhost/developer-support/public/assets/images/search_wght400.svg");
					}

					&:hover {
						img {
							width: $h2-font;
							content: url("http://localhost/developer-support/public/assets/images/search_wght600.svg");
						}
					}
				}
			}
		}
	}

	.container {
		margin-top: 100px;
		width: 100%;
		padding: 0 35px;

		a {
			text-decoration: none;
			color: black;

			.question-card {
				display: flex;
				align-items: center;
				padding: 10px;
				height: 130px;
				background-color: $gray-color;
				border: 1px solid black;
				border-radius: 15px;
				margin-bottom: 20px;
				cursor: pointer;

				.rating-section {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					width: 10%;
					height: 100%;
					padding: 10px 20px 10px 10px;

					.like-btn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						border: 1px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 5%;

						button {
							background-color: transparent;
							border: none;
							cursor: pointer;
							img {
								width: $h2-font;
								content: url("http://localhost/developer-support/public/assets/images/thumb_up_fill0.svg");
							}

							&:hover {
								img {
									content: url("http://localhost/developer-support/public/assets/images/thumb_up_fill1.svg");
								}
							}
						}

						p {
							font-size: $h3-font;
						}
					}

					.dislike-btn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						border: 1px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 5%;

						button {
							background-color: transparent;
							border: none;
							cursor: pointer;
							img {
								width: $h2-font;
								content: url("http://localhost/developer-support/public/assets/images/thumb_down_fill0.svg");
							}

							&:hover {
								img {
									content: url("http://localhost/developer-support/public/assets/images/thumb_down_fill1.svg");
								}
							}
						}

						p {
							font-size: $h3-font;
						}
					}
				}

				.vl {
					border-left: 1px solid black;
					height: 100%;
				}

				.main-section {
					width: 80%;
					padding: 10px 10px 10px 20px;
					height: 100%;

					p {
						text-align: justify;
						font-size: $h3-font;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}

				.right-section {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: space-between;
					width: 10%;
					padding: 10px;
					height: 100%;

					.ans-box {
						display: flex;
						justify-content: center;
						border: 1px solid black;
						border-radius: 5px;
						background-color: white;
						padding: 2px 0;
						width: 70%;

						p {
							font-size: $n-font;
						}
					}

					.date {
						p {
							font-size: $n-font;
						}
					}
				}
			}

			&:hover {
				.question-card {
					background-color: $dark-gray-color;
				}
			}
		}
	}
}
