@mixin flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

$border-width: 1px;

// colors
$gray-color: #d9d9d9;
$red-color: #cfa197;
$green-color: #9ba17b;

// font sizes
$n-font: 15px;
$h3-font: 17px;
$h2-font: 19px;
$h1-font: 23px;

.navbar {
	width: 100%;
	height: 70px;
	@include flex-row;
	background-color: $gray-color;
	border-bottom: $border-width solid black;
	position: fixed;
	top: 0;
	overflow: hidden;

	.leader {
		@include flex-row;
		width: 40%;
		height: 100%;
		padding-left: 60px;
		padding-right: 60px;
		background: $green-color;
		border-right: $border-width solid black;
		border-bottom: $border-width solid black;
		border-radius: 0 0 30px 0;
		margin-bottom: -$border-width;

		img {
			height: 50px;
			width: auto;
		}

		h2 {
			font-size: $h1-font;
		}

		button {
			background-color: transparent;
			border: 0;
			cursor: pointer;

			img {
				content: url("http://localhost/developer-support/public/assets/images/account_circle_fill0.svg");
				width: 35px;
				height: auto;
			}

			&:hover {
				img {
					content: url("http://localhost/developer-support/public/assets/images/account_circle_fill1.svg");
					width: 35px;
					height: auto;
				}
			}
		}
	}

	.navbar-items {
		@include flex-row;
		width: 15%;
		margin-right: 40px;

		p {
			font-size: 30px;

			a {
				text-decoration: none;
				color: black;
			}

			a:hover,
			.active {
				font-weight: 600;
			}
		}
	}
}
