.body {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}
.body .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding: 15px 35px;
  background-color: #fff;
}
.body .header h2 {
  font-weight: 600;
  font-size: 23px;
  margin-left: 20px;
}
.body .header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.body .header .content .question-btn {
  background-color: #cfa197;
  padding: 15px;
  height: 55px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 19px;
}
.body .header .content .question-btn:hover {
  border: 1.5px solid black;
  font-weight: 500;
}
.body .header .content .filter-btn {
  background-color: transparent;
  border: none;
}
.body .header .content .filter-btn img {
  width: 23px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/filter_list_wght400.svg");
}
.body .header .content .filter-btn:hover img {
  width: 23px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/filter_list_wght600.svg");
}
.body .header .content .search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
}
.body .header .content .search-container input {
  float: left;
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  display: block;
  font-size: 15px;
  background-color: transparent;
}
.body .header .content .search-container .search-btn {
  float: left;
  background-color: transparent;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 10.5px 10.5px 11px 10.5px;
  width: 20%;
}
.body .header .content .search-container .search-btn img {
  width: 19px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/search_wght400.svg");
}
.body .header .content .search-container .search-btn:hover img {
  width: 19px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/search_wght600.svg");
}
.body .container {
  margin-top: 100px;
  width: 100%;
  padding: 0 35px;
}
.body .container a {
  text-decoration: none;
  color: black;
}
.body .container a .question-card {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 130px;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.body .container a .question-card .rating-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  height: 100%;
  padding: 10px 20px 10px 10px;
}
.body .container a .question-card .rating-section .like-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5%;
}
.body .container a .question-card .rating-section .like-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.body .container a .question-card .rating-section .like-btn button img {
  width: 19px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/thumb_up_fill0.svg");
}
.body .container a .question-card .rating-section .like-btn button:hover img {
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/thumb_up_fill1.svg");
}
.body .container a .question-card .rating-section .like-btn p {
  font-size: 17px;
}
.body .container a .question-card .rating-section .dislike-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5%;
}
.body .container a .question-card .rating-section .dislike-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.body .container a .question-card .rating-section .dislike-btn button img {
  width: 19px;
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/thumb_down_fill0.svg");
}
.body .container a .question-card .rating-section .dislike-btn button:hover img {
  content: url("https://w1761369.users.ecs.westminster.ac.uk/developer-support/public/assets/images/thumb_down_fill1.svg");
}
.body .container a .question-card .rating-section .dislike-btn p {
  font-size: 17px;
}
.body .container a .question-card .vl {
  border-left: 1px solid black;
  height: 100%;
}
.body .container a .question-card .main-section {
  width: 80%;
  padding: 10px 10px 10px 20px;
  height: 100%;
}
.body .container a .question-card .main-section p {
  text-align: justify;
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.body .container a .question-card .right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 10%;
  padding: 10px;
  height: 100%;
}
.body .container a .question-card .right-section .ans-box {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 2px 0;
  width: 70%;
}
.body .container a .question-card .right-section .ans-box p {
  font-size: 15px;
}
.body .container a .question-card .right-section .date p {
  font-size: 15px;
}
.body .container a:hover .question-card {
  background-color: #bdbdbd;
}

/*# sourceMappingURL=home-page-style.css.map */
